*{
    font-family: 'Poppins', sans-serif;

}
.bg-orange {
 background-color: #ea580c;
}
.bg{
    background-color: #ff5900;
}
.img-bg{
    background-color: #fef5f2;
}
.hero-h1{
    color: #09090b;
}
.hero-p{
    color: #44444b;
}
.nav-text{
    color: #27272a;
}
.nav-text:hover{
    color: #eb611a;
}

@keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

.card-bg{
    background-color: #fef6f3;
}
.about-bg{
    background-color: #fdeee6;
}
.about-p{
    color: #424248;
}
.about-tick{
    background-color: #ea580c;
}
.border-seo{
    color: #afe1f8;
}
.border-seo-bg{
    background-color: #cfedfb;
}
.seo-hover:hover{
    background-color:#f7fcff;
}
.border-ppc{
    color: #ee66a9;
}
.border-ppc-bg{
   background-color: #fbdaeb;
}
.ppc-hover:hover{
    background-color: #fff2f9;
}
.border-mail{
    color: #d6affb;
}
.border-mail-bg{
   background-color:#eeddfd;
}
.mail-hover:hover{
    background-color: #f9f3ff;
}
.testimonial-p{
    color: #606066;
}
.seo-bg{
    background-color: #fef6f3;
}
.input-bg{
    background-color: #f4f4f5;
}